*.err
*.out
*.log
*.gz
*.tar
*.tar.gz
*.tab
*.mtx
*.rds
*.txt
*.h5ad
*.loom
*.h5
*.rds
*.Rd
*.bib
*.pyc
*.tsv
__pycache__/
*.py[cod]
*$py.class
**/__pycache__/
*.gmt
Archive/


# Filter out files larger than 100MB
*.[!.][!g][!i][!t]* filter=lfs diff=lfs merge=lfs -text size=+100M

Mousebrain/DATA/refdata-gex-mm10-2020-A
MouseGastrulationData/inst
Mousebrain/DATA/SRR11947608
